body {
  background: rgb(207, 242, 255);
}
.App .container {
  max-width: 900px;
}

.App {
  text-align: center;
}

.App-header {
  margin-top: 40px;
  background-color: rgb(207, 242, 255);
  text-align: center;
  justify-content: center;
  color: black;
}
.App-header h1 {
  font-size: 80px;
}
.App-footer {
  margin-top: 15px;
  font-size: 12px;
}
